# 默认走淘宝镜像
registry = https://registry.npmmirror.com

# 私服 npm 用到，携带 @xxx 前缀的包名会走 http://xxx.com:8080
# @dyb-dev:registry = https://registry.npmjs.org/

# 是否自动安装 peerDependencies 依赖
auto-install-peers = false
